body {
  padding: 15px;
}


#profile-pic{
  border-radius: 50%;
  height: 180px;
}

#search{
      border: 1px solid lightgrey;
      border-radius: 5px;
      text-indent: 7px;

}

#search:focus {
  outline: none;
 border: 1px solid hotpink;

}

.btn-secondary{
  background-color: hotpink;
  border: hotpink;
}